*{
    margin: 0;
    padding: 0;
}
#box {
    position: relative;
}
#box #small{
    position: absolute;
    top: 50px;
    left: 100px;
    float: left;
    border: 1px solid black;
}
#box #small img{}
#box #small #mask{
    width: 200px;
    height: 200px;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    cursor: move;
}
#box #big{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50px;
    left: 520px;
    float: left;
    border: 1px solid black;
    overflow: hidden;
    display: none;
}
#box #big img{
    position: absolute;

}