* {
    margin: 0;
    padding: 0;
}
.map {
    width: 500px;
    height: 500px;
    background-color: rgba(0,0,0,.6);
    position: absolute;
    left: 100px;
    top: 50px;
    /*position: absolute;*/
    /*background-color: cornflowerblue;*/
}